.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /*Creating the columns for the page*/
    grid-template-rows: auto 1fr 1fr; /* Creating the rows for the page*/
    grid-template-areas: 
        "header header" /*Defining a header spanning both columns*/
        "article1 " /* Setting up article one space*/
        "article2 " /* Setting up article 2 space */
        "footer footer"; /*Setting up the footer space*/

    gap: 10px; /* Spacing the items*/
}

.header{
    grid-area: header;
    background-color: #63B3ED;
    color: #FFFFFF;
    padding: 20px;

}
.article1{
    grid-area: item1;
    
    padding: 20px;
    
}

#blogpic {
    width: 200px;
    height: 200px;
    border: 2px;
    border-radius: 50%;
}

h1 {
    font-size: 36px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h2 {
    font-size: 32px;
    color: #48BB78;
    font-family:'Courier New', Courier, monospace;
    
}
h5 {
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color: #718096;
}

#leftimg {
    float: right;
    width: 42px;
    height: 42px;
}

#rightimg {
    float: left;
    width: 42px;
    height: 42px;
}